body {
  font-family: "Montserrat", sans-serif;
  font-size: 14pt;
  color: black;
  background-color: #ffffff;
}

.classes-got-dots {

}

#ids-get-hash-signs {

}

@media (min-width: 500px) {

}

@media (min-width: 800px) {

}
