body {
  font-family: "Montserrat", sans-serif;
  font-size: 14pt;
  color: black;
  background-color: #ffffff;
  margin-left: 300px;
}
h1 {
/*sidebar headline */
  text-align: center;
  margin: 2px;
  line-height: 1;
  padding: 10px 0px;
}
h2 {
  font-size: 20pt;
  font-style: strong;
}
h3 {
  /* resume headlines */
  background-color: #1d5e2e;
  outline-style: solid;
  outline-color: #1d5e2e;
  outline-width: 0.5em;
  color: white;
}
p {
  display: flex;
  margin: 1px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  line-height: 1.1;
}
img {
  max-width: 100%;
}
ul {
  margin: 0; padding: 0;
}

.main {
  margin: 1em;
}

.sidebar {
 width: 10em;
 position: fixed;
 z-index: 1;
 top: 1em;
 left: 1em;
 background: #bdffd6;
 overflow-x: hidden;
 padding: 1em;
}

.marginpadding {
  padding-right: 10em;
}

.resumeicon {
  float: left;
  width: 1em;
  height: auto;
  padding: 5px;
}

/* navigation code */
.topnav {
background-color: #ffffff;
overflow: hidden;
margin-top: 1em;
padding-bottom: 2em;
}

.topnav a {
  float: none;
  display: inline-block;
  color: #1d5e2e;
  text-align: center;
  padding: 1em 1.2em;
  text-decoration: none;
  font-size: 1.4em;
}

.topnav a:hover {
  background-color: #bdffd6;
  color: #1d5e2e;
}

.topnav a.active {
  background-color: #1d5e2e;
  color: white;
}




.classes-got-dots {

}

#ids-get-hash-signs {

}

@media (min-width: 500px) {

}

@media (min-width: 800px) {

}
